[Unit]
Description=RPMeta prediction server
Documentation=https://github.com/fedora-copr/rpmeta/wiki
After=network.target

[Service]
Type=simple
User=rpmeta
Group=rpmeta
EnvironmentFile=-/etc/sysconfig/rpmeta
ExecStart=/usr/bin/rpmeta run --model-dir=${MODEL_DIR} --model-name=${MODEL_NAME} --categories=${CATEGORIES} --config=${CONFIG} serve ${EXTRA_OPTS}

# Security hardening
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
ProtectHome=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true

# Restart on failure
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
